<?xml version="1.0" encoding="utf-8"?>
<uexplugins>

    <plugin
        className="org.zywx.wbpalmstar.plugin.uexpedometer.EUExPedometer"
        uexName="uexPedometer" version="3.0.0" build="0">

        <method name="startStepService" />

        <method name="stopStepService" />

        <method name="queryStepToday" />

        <method name="queryStepHistory" />
    </plugin>

</uexplugins>